.container {
  padding: 0 2rem;
  max-width: 1150px;
  margin: 0 auto;
}

.characteristics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inputFields {
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
  }

  input {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 16px;
    padding: 0 10px;
  }
}
